<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>800678725459-oansn867gpo7s1hr7qnue28lq55nau7u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.800678725459-oansn867gpo7s1hr7qnue28lq55nau7u</string>
	<key>API_KEY</key>
	<string>AIzaSyCvEm0staPfBwJhT2IyBi64mDBnOp3-rfM</string>
	<key>GCM_SENDER_ID</key>
	<string>800678725459</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.curupayti.curupa</string>
	<key>PROJECT_ID</key>
	<string>curupa-d830b</string>
	<key>STORAGE_BUCKET</key>
	<string>curupa-d830b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:800678725459:ios:6b93ac214f630fa2</string>
	<key>DATABASE_URL</key>
	<string>https://curupa-d830b.firebaseio.com</string>
</dict>
</plist>