@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600|Open+Sans:400,600,700");

#main {
  padding-top: 73px !important;
}

#calendar-module {
  max-width: 900px;
  margin: 0 auto;
}
