#container {
    /*margin-right: 5px !important;*/
    margin-left: 5px !important; 
}

#escudo {
    width:300px;
    height:340px;
}

#main {
    padding-top: 90px;
}

#row-edits {
    height:1000px;
    width:1100px;
}

/* image picker */

.avatar-preview {
    width: 110px;
    height: 110px;
}

.avatar-preview-list {
    width: 60px;
    height: 60px;
}


/*#row-edits {
   max-width:300px;
}*/

#edit-list {
    border: 1px solid black; 
    max-height: 250px;
    margin-top: 15px;
    margin-bottom: 10px;
    overflow-y: scroll;  
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}


/*#edit-list li {
    padding: 3px 10px
}*/

#grid-details_wrapper {
    height:240px;  
    /*width: 600px;*/
}
