#container {
    /*margin-right: 5px !important;*/
    margin-left: 5px !important; 
}

#escudo {
    width:300px;
    height:340px;
}

#main {
    padding-top: 90px;
}

#row-edits {
    height:1000px;
}

#edit-list {
    border: 1px solid black; 
    max-height: 250px;
    margin-bottom: 10px;
    overflow:scroll;  
    -webkit-overflow-scrolling: touch;
}


/*#edit-list li {
    padding: 3px 10px
}*/

#grid-details_wrapper {
    height:240px;    
}