<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>464846058000-trbsdo9f0r2eq67a1q5gltov295uehbh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.464846058000-trbsdo9f0r2eq67a1q5gltov295uehbh</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>464846058000-hohqhov13cukk0ng2qmhdfig2u788fka.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBF3Ro_5Id-qUqnKwkI3vtQHYq8NmRaV4Q</string>
	<key>GCM_SENDER_ID</key>
	<string>464846058000</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.curupayti.curupa</string>
	<key>PROJECT_ID</key>
	<string>curupas-backen</string>
	<key>STORAGE_BUCKET</key>
	<string>curupas-backen.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:464846058000:ios:0edb235bb4ce9cab5e5095</string>
	<key>DATABASE_URL</key>
	<string>https://curupas-backen.firebaseio.com</string>
</dict>
</plist>